Repository mariohoxha42/Amazon-Berkeley-Objects, changes with the labels that .github/labeler.yml gives for each.
All labels: build, main-code, main-files, test-code, test-files, dependencies, main

.github/labeler.yml:

---
build:
  - .github/**/*

main-code:
  - src/main/**/*

main-files:
  - src/main/**/*.{json,txt}

test-code:
  - src/test/**/*

test-files:
  - src/test/**/*.{json,txt}

dependencies:
  - pom.xml

main:
  - src/main/java/org/mario/Main.java

adding metadata, including overwhelming majority ones
  src/main/java/org/mario/model/raw/AboMetadata.java
Labels: main-code

utils and built models
  src/main/java/org/mario/Main.java
  src/main/java/org/mario/analysis/AnalysisOrchestrator.java
  src/main/java/org/mario/analysis/KeyAnalysis.java
  src/main/java/org/mario/analysis/KeySorter.java
  src/main/java/org/mario/analysis/KeyWriter.java
  src/main/java/org/mario/analyze/AnalysisOrchestrator.java
  src/main/java/org/mario/analyze/KeyAnalysis.java
  src/main/java/org/mario/analyze/KeySorter.java
  src/main/java/org/mario/analyze/KeyWriter.java
  src/main/java/org/mario/extract/ExtractionOrchestrator.java
  src/main/java/org/mario/extract/Parser.java
  src/main/java/org/mario/extract/Writer.java
  src/main/java/org/mario/extraction/ExtractionOrchestrator.java
  src/main/java/org/mario/extraction/Parser.java
  src/main/java/org/mario/extraction/Writer.java
  src/main/java/org/mario/model/raw/AboCoreMetadata.java
  src/main/java/org/mario/model/raw/AboItemCoreMetadata.java
  src/main/java/org/mario/model/raw/AboMProductCoreMetadata.java
  src/main/java/org/mario/model/raw/AboMetadata.java
  src/main/java/org/mario/model/raw/AboModelCoreMetadata.java
  src/main/java/org/mario/transform/Input.java
  src/main/java/org/mario/transform/Output.java
  src/main/java/org/mario/transform/Transform.java
  src/main/java/org/mario/utils/Utils.java
  src/test/resources/key-test-files/masterSet.txt
  src/test/resources/key-test-files/uniqueSet.txt
Labels: main-code, test-code, test-files, main

adding coverage action
  .github/workflows/coverage.yml
Labels: build

adding coverage action
  .github/workflows/coverage.yml
  .github/workflows/maven.yml
Labels: build

circle back on coverage action
  .github/workflows/maven.yml
Labels: build

starting model/reader
  pom.xml
  src/main/java/org/mario/Main.java
  src/main/java/org/mario/model/common/IntermediateModel.java
  src/main/java/org/mario/model/raw/AboItemMetadata.java
  src/main/java/org/mario/model/raw/AboModelMetadata.java
  src/main/java/org/mario/model/raw/AboProductMetadata.java
  src/main/java/org/mario/process/analyze/AnalysisOrchestrator.java
  src/main/java/org/mario/process/analyze/KeyAnalysis.java
  src/main/java/org/mario/process/analyze/KeySorter.java
  src/main/java/org/mario/process/analyze/KeyWriter.java
  src/main/java/org/mario/process/extract/ExtractionOrchestrator.java
  src/main/java/org/mario/process/extract/Parser.java
  src/main/java/org/mario/process/extract/Writer.java
  src/main/java/org/mario/process/transform/Input.java
  src/main/java/org/mario/process/transform/Output.java
  src/main/java/org/mario/process/transform/Transform.java
  src/main/java/org/mario/process/utils/Utils.java
  src/main/java/org/mario/transform/Input.java
  src/main/java/org/mario/transform/Output.java
  src/main/java/org/mario/transform/Transform.java
  src/main/java/org/mario/utils/Utils.java
Labels: main-code, dependencies, main
